body{
    width: 60%;
    margin: auto;
    font-size: large;
    background-color: white;
    box-shadow: 5px 5px 5px darkgray;
}
h1{
    text-indent: 1cm;
    color:#EA346B
}
ul{
    background-color: white;
    font-size: medium;
    font-weight: normal;
    color: black;
}
#header{
    background-color: #EA346B;
    background-size: 10%;
    font-size: bigger;
    color: white;
    font-weight: bold;
    list-style-type: decimal;
}
.containerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    padding: 5px;
    background: white;
    min-width: 320px;
    height: 480px;
    margin: auto;
}
.imgbox {
    padding: 20px;
    background: lightblue;
    margin: 1px;
    justify-content: flex-end;
}
#anhnen{
    width: 200px;
    height: 320px;
}
